mysql:
  host: 127.0.0.1
  username: root
  password: 123456
  database: test
  port: 3306
  charset: utf8mb4
  max_idle_conn: 8
  max_open_conn: 16
redis:
  host: 127.0.0.1
  port: 6379
  password: 123456
  database: 0
  max_idle_conn: 4
  max_open_conn: 8
rabbitmq:
  host: 127.0.0.1
  port: 5672
  username: root
  password: 123456
domain_name: http://127.0.0.1:8081
server_port: 8081
debug: true
key: cc9e02fe-4ea1-9576-f60c-55dae4f85572